<div class="header">
    <div class="site-inner main-nav">
        <div class="logo">
            <ul>
                <img src="/images/javascripttutorial.svg" alt="">
            </ul>
        </div>
        <ul class="menu">
            <li>Home</li>
            <li>ES6</li>
            <li>ADVANCED</li>
            <li>ES Next</li>
            <li>JS BOM</li>
            <li>JS DOM</li>
            <li>WEB API</li>
            <li>SNIPPETS</li>
            <li>TYPESCRIPT</li>
        </ul>
    </div>
</div>

