<link rel="stylesheet" href="/stylesheets/hljs.css">

<div id="post-content">
  <code>

  </code>
</div>
<div id="md" hidden>  <%=html %></div>

<script>
  const md = document.getElementById("md")
  const content = document.getElementById("post-content")
  content.innerHTML = md.innerText
  md && md.remove()

</script>

